{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "entry",
        "corejs": "2.x"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime", {
         "regenerator": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*_spec.js"
          ]
        }]
      ]
    }
  }
}
