tinyemu/
node_modules/
emsdk/
riscv-gnu-toolchain/
utils/
assets/js/riscv64*
assets/js/compiled-*
assets/js/ace-builds/
assets/kernel/kernel.bin
assets/css/
kernel/*.o
kernel/kernel.bin
kernel/kernel.elf
test/karma-result.json
